@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 30, 30;
  --background-end-rgb: 30, 30, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1e1e1e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* overflow: hidden; Removed to allow scrolling on landing page */
  overflow-y: auto;
}

html {
  overflow-y: auto;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}